<!--Breadcrumb 
<div fxFlex="25">


	<mat-toolbar  class="posicion">
		<span><a  class="FontF" mat-button (click)="breadCrumbMain()" >Main</a></span>

		<span *ngFor="let m of menuHeader; let indx = index" >
      <a class="FontF" mat-button (click)="breadCrumb(menuHeader, indx)" >{{m.sNombre}}
        <mat-icon fxFlex="10">{{m.icon}}</mat-icon></a>
    </span>

	</mat-toolbar>

	<mat-card class="cs-card-padding">
		<div>
			<mat-list role="list" *ngFor="let menu of appitemsTravel">
				<mat-list-item (click)="menuChange(menu)" role="listitem"><span fxFlex="90">{{menu.sNombre}}</span>
					<mat-icon fxFlex="10">{{menu.icon}}</mat-icon>
				</mat-list-item>
			</mat-list>
		</div>
    </mat-card>
    
    





</div>-->



<!--breadcrumb-->

<!--breadcrumb-->


    <!-- Sidebar -->
    <!--<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon rotate-n-15">
                <img [src]="logo" style="height: 70px;">
            </div>
            
          </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li  *ngFor="let element of listData;let indice=index" class="nav-item">
           <!--SECCION-->
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
           <!--icono-->
            <i class="{{element.sIconClass}}"></i>
            <!--icono-->
            <span >{{element.sNombre}}</span>
            </a>
            <!--SECCION-->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
               <!-- <ul> 
                    <li *ngFor="let element of listData"> {{ element.seccion.sNombre }} </li>
              </ul>-->
            <div class="bg-white py-2 collapse-inner rounded" >
               <!--  MODELO -->
                <!--<a class="collapse-item" routerLink="/users">Usuarios</a>
                <a class="collapse-item" routerLink="/access">Acciones</a>-->
                <a  *ngFor="let element2 of element.modelos" class="collapse-item" routerLink="{{element2.sUi}}">{{element2.sNombre}}</a>
                 <!-- MODELO  -->
            </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
       <!-- <li class="nav-item">
            <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>RRHH</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                
                <a class="collapse-item" routerLink="/employee">Empleados</a>
                <a class="collapse-item" routerLink="/increase">Incremento y/o <br>Cambio de Cargo</a>
                <a class="collapse-item" routerLink="/grade">Grados</a>
                <a class="collapse-item" routerLink="/scale">Escalas</a>
                <a class="collapse-item" routerLink="/comission">Comisiones</a>
                <a class="collapse-item" routerLink="/authorization">Autorizaciones</a>
            </div>
            </div>
        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider">

       

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
   <!-- </ul>-->
    <!-- End of Sidebar -->


      <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>